@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #ffc499, #f2c464, #8b9467, #ffd700);
  font-family: "Martel Sans", sans-serif;
}
